@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.lora {
	font-family: 'Lora', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

@theme {
	--font-sans: 'Inter', system-ui, sans-serif;
	--font-serif: 'Lora', serif;

	/* Use more specific variable name for Lora */
	--font-lora: 'Lora', serif;
	--breakpoint-sm: 38rem;
	--breakpoint-md: 45rem;
	--breakpoint-lg: 67rem;
	--breakpoint-2xl: 180rem;
	--breakpoint-3xl: 190rem;
}

@theme {
	--color-mint-500: rgb(0, 255, 150);
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1.5rem;
		margin-bottom: 0.75rem;
		line-height: 1.2;
		font-weight: 500;
	}
	p {
		margin-top: 0.9rem;
		margin-bottom: 0.9rem;
	}
	ul,
	ol {
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-left: 1.25rem;
	}
	li {
		margin-top: 0.4rem;
		margin-bottom: 0.4rem;
	}
}
